@model IEnumerable<FilmApp.Models.User>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserFirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserLastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserEmail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserEmailApproved)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserAccountName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserPass)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.UserFirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserLastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserEmail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserEmailApproved)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserAccountName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserPass)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.UserID }) |
            @Html.ActionLink("Details", "Details", new { id=item.UserID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.UserID })
        </td>
    </tr>
}

</table>
